html {
  position: relative;
  min-height: 100%;

}

body {
  margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #f5f7fa;
}

.element-item {
  transition: box-shadow .3s;
  width: 30%;
  height: 150px;
  margin: 1em;
  border-radius:0.5em;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  padding:1em;

}
.element-item:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

//* Styles for story pages *//
.main-container{
  float:left;
  height: auto;
  width: 500px;
}

.main-story{
  width: 100%;
  height: 1000px;
}

.container-fluid{margin:1em;}
.button-group{margin:1em;}

/* .story-page-title{
margin:2em;
padding-left: 1.5em;

} */

.header {
	width: 100%;
	height: 90px;
	padding: 20px;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.main {
	min-height: 1500px;
	padding: 150px 40px 40px;
	flex: 1;
}

* {
	box-sizing: border-box;
}

.cluster-0{border-top: 5px solid #d51e1e}
.cluster-1{border-top: 5px solid #1ed546}
.cluster-2{border-top: 5px solid #1eaad5}
.cluster-3{border-top: 5px solid #761ed5}
.cluster-4{border-top: 5px solid #d51e94}
.cluster-5{border-top: 5px solid #d5ae1e}
.cluster-6{border-top: 5px solid #0f7245}
.cluster-7{border-top: 5px solid #9dc8e8}
.cluster-8{border-top: 5px solid #d51e1ecc}
.cluster-9{border-top: 5px solid #1ed5cdcc}
