<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hacker News ML Viewer </title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static',filename='styles.css') }}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>


</head>

<body>


<!-- Jquery filtering plugin: https://isotope.metafizzy.co/filtering.html -->

  {% block content %}
  <div class="container-fluid">
<div class="row-fluid" >
<h3><a href={{ url_for('root') }}>Hacker News ML Viewer</a></h3>
</div>

<div>
  Other topic models: <a href="{{ url_for('modeled_cards', model_id = 'nmf' )}}">NMF</a> <a href="{{ url_for('modeled_cards', model_id = 'nmf_kl' )}}">NMF KL</a> <a href="{{ url_for('modeled_cards', model_id = 'lda' )}}">LDA</a>
</div>
<div class="button-group filters-button-group">
  <button class="button is-checked" data-filter="*">show all</button>
  <button class="button" data-filter=".cluster-0">topic-0</button>
    <button class="button" data-filter=".cluster-1">topic-1</button>
      <button class="button" data-filter=".cluster-2">topic-2</button>
       <button class="button" data-filter=".cluster-3">topic-3</button>
          <button class="button" data-filter=".cluster-4">topic-4</button>
            <button class="button" data-filter=".cluster-5">topic-5</button>
              <button class="button" data-filter=".cluster-6">topic-6</button>
                <button class="button" data-filter=".cluster-7">topic-7</button>
                <button class="button" data-filter=".cluster-8">topic-8</button>
                  <button class="button" data-filter=".cluster-9">topic-9</button>
                    <button class="button" data-filter=".cluster-10">topic-10</button>
                      <button class="button" data-filter=".cluster-11">topic-11</button>
                        <button class="button" data-filter=".cluster-12">topic-12</button>
                         <button class="button" data-filter=".cluster-13">topic-13</button>
                           <button class="button" data-filter=".cluster-14">topic-14</button>

</div>

<div class='grid'>
          {% for story in stories %}

                <div class="{{ story.card_class }}">
                    <a href="{{ url_for('story', story_id= story.id)}}" target="_blank">
                        <span><h5>{{ story.title }}</h5></span>
                        <hr>
                        by: {{ story.by }}
                        <span><br>Topic: {{ story.ml_topics }}</span>
                    </a>
                </div>

        {% endfor %}

  </div>
  {% endblock %}

</div> <!-- end grid -->

<script>

// external js: isotope.pkgd.js

// init Isotope
var $grid = $('.grid').isotope({
  itemSelector: '.element-item',
  layoutMode: 'fitRows',
  masonry: {
   gutter: 40,
   columnWidth: 320
 }
});

// bind filter button click
$('.filters-button-group').on( 'click', 'button', function() {
  var filterValue = $( this ).attr('data-filter');
  // use filterFn if matches value
  filterValue = filterFns[ filterValue ] || filterValue;
  $grid.isotope({ filter: filterValue });
});

var filterFns = {
  // show if number is greater than 50
  numberGreaterThan50: function() {
    // use $(this) to get item element
    var number = $(this).find('.number').text();
    return parseInt( number, 10 ) > 50;
  },
  // show if name ends with -ium
  ium: function() {
    var name = $(this).find('.name').text();
    return name.match( /ium$/ );
  }
};
// change is-checked class on buttons
$('.button-group').each( function( i, buttonGroup ) {
  var $buttonGroup = $( buttonGroup );
  $buttonGroup.on( 'click', 'button', function() {
    $buttonGroup.find('.is-checked').removeClass('is-checked');
    $( this ).addClass('is-checked');
  });
});

</script>


    <footer class="footer">
        <div class="container">
            <span><a href="https://github.com/gfilla/pycon2018" target="_blank">Github repo for application</a></span>
        </div>
    </footer>

</body>



</html>
