<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HN Post: {{ story_id.title }} </title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static',filename='styles.css') }}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>
    <div class="container" id="container">
      <div class='story-box'>

 'title': {{ story_id.title }}

          'by': {{ story_id.by }} ,
  <!--
         'text': {{ story_id.text | safe }}
         'time': {{ story_id.time }} ,
         'title': {{ story_id.title }} ,
         'type': {{ story_id.type }}
       }
    -->
       </div>

      </table>
      <hr>
    </div

    <footer class="footer">
        <div class="container">
            <span><a href="https://github.com/gfilla/pycon2018" target="_blank">Github repo for application</a></span>
        </div>
    </footer>

</body>


</html>
